<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>  </title>
    <head>
    <body>
    <h1>Classes</h1>
    <ul>
        <li> Data Structures in Java </li>
        <li> Calculus II </li>
        <li> Discrete Mathematics </li>
        <li> The Art of Engineering </li>
        <li> Python </li>
        <li> Introduction to Electricity, Magnetism, and Optics  </li>
    </ul>  
    <p> <b>Favorite Class:</b> Calculus II. This is my favorite class so far because I enjoy integrating and seeing its applications in real life. 
    Professor Woodbury enjoys answering questions that you might have from his material and he ensures that his students understand the material that's 
    being presented.</p>
    </body>
</html>
