<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>  </title>
    <head>
    <body>
    <h1>Classes</h1>
    
    <ul>
        <li> Data Structures in Java </li>
        <li> Calculus II </li>
        <li> Discrete Mathematics </li>
        <li> The Art of Engineering </li>
        <li> Python </li>
        <li> Introduction to Electricity, Magnetism, and Optics  </li>
    </ul>
    
    <p> <b>Favorite Class:</b> Calculus II. This is my favorite class so far because I enjoy integrating and seeing its applications in real life. </p>
    <p> <b>Second Favorite Class:</b> Python. I enjoyed learning how to code in Python and how easy it is to learn it. </p>
    
    </body>
</html>
