<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title> Arch Linux </title>
    <head>
    <body>
     <h1> <b> My Journey With Arch Linux</b></h1>
    <p>Prior to college I had no knowledge on how to use Linux or Windows efficiently. I had not idea what operating systems (OS) 
    existed nor that Linux was an alternative to Windows. Everything changed when my laptop had a Windows update. It hit a recursive state in which it could not boot up and there was nothing I could do. 
    I tried every method from the Windows forums I read but nothing worked. That's when I learned that I could run Linux on it. 
    Windows did not want to work no matter what I did, so I looked for OS alternatives to it. Through it I discovered Manjaro. 
    Manjaro is a free and open-source Linux OS that's based on the Arch Linux OS. The process to fix my laptop was long and difficult. 
    Given that I knew nothing about my computer I had to learn how to create a live USB and how to access the BIOS of my computer. 
    Given that it was my first time doing something like this, it took me two or three tries to access the BIOS with the USB connected. 
    I mention creating a live USB. What is that anyway? A live USB is a USB flash drive that contains a full OS that can be booted. 
    I borrowed a computer from a friend and downloaded the Manjaro iso image and run Rufus, a USB image writer, on my USB.
    I was essentially writing the iso image on to the USB so I could make it bootable on a computer. So I accessed the BIOS and booted
    on to the Manjaro OS. The next step was to format my computer to install it and run it. In other words, I deleted Windows and 
    installed Manjaro instead. So I had the OS installed. The next step was to figure out how to use Linux.
    I did not know how to use the terminal or how I could add or install packages to my computer. Since Manjaro is based on Arch Linux
    I decided to learn how to navigate myself through an Arch terminal. I learned that you had to be root to install packages, and that 
    if you want to use root command once, you could use the keyword known as sudo. Sudo is short for superuserdo. Anyways, 
    I figure out how to install a live Java environment and how to code using Vim. My first semester was great and I was looking forward to the
    second semester. On it I took Python. From there I truly learned how powerful this OS was. I installed Spyder and learned how 
    more about Linux. Near the end of the semester I finally decided to install Arch Linux without the help of Manjaro. I managed to 
    install it and that is what I use now. Overall, I am all for free and open-source software. I do not like using Windows anymore.
    In other words, Linux is my OS of choice from now on. 
    </p>
    </body>
</html>